/************************************/
/* START: NAVHEADER and GENERAL CSS */
/************************************/

	html, body {
		width: 100%;
		margin: 0 auto;
		background-color: #F5F5DC;
		background: #000;
		color: white;
		padding-top: 10px;
		font-family: "Courier";
	}

	.header{
		width: 100%;
		height: 50px;
		border-radius: 8px;
		overflow: hidden;
		background-color; grey;
		position: fixed;
		top: 0;
		border: 1px solid grey;
	}
	.navheader-ul {
		text-align: right;
	}

	.navheader-li {
		display: inline-block;
		margin: 0 20px;
		right: 20px;
		position: relative;
	}

	.navheader-li a{
		text-decoration: none;
		color: white;
	}

	.navheader-li a:hover{
		color: orange;
	}

	div div h2 {
		position: relative;
		left: 20px;
	}

	button.accordion {
	    background-color: #000000;
	    color: white;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: none;
	    text-align: left;
	    font-size: 25px;
	    transition: 0.4s;
	}

	div.selfcontainer {
	    padding: 0 18px;
	    display: none;
	    background-color: black;
	    overflow: hidden;
	}	

/**********************************/
/* END: NAVHEADER and GENERAL CSS */
/**********************************/




/***************************/
/* START: Typing Animation */
/***************************/

	.typing-anim-p{
		white-space: nowrap;
		overflow: hidden;
		width: 30em;
		animation: type 5s steps(50, end);
		margin: 0 auto;
		font-size: 40px;
	}

	.typing-anim-p-container{
		margin-bottom: 30px;
	}
	.typing-anim-container {
		width: 95%; 
		position: relative; 
		margin-top: 75px;
	}

	.cursor{
	  animation: blink 1.045s infinite;
	}

	@keyframes type{ 
	  from { width: 0; } 
	} 

	@keyframes type2{
	  0%{width: 0;}
	  50%{width: 0;}
	  100%{ width: 100; } 
	} 

	@keyframes blink{
	  to{opacity: .0;}
	}

	::selection{
	  background: white;
	}

/*************************/
/* END: Typing Animation */
/*************************/




/************************/
/* START: INTRO Section */
/************************/

	.intro-self {
		width: 75%;
		margin: 0 auto; 
		border: 2px solid red;
	}

	.intro-self:hover {
		background-color: red;
		transition: 0.4s;
		color: black;
	}

	.selfcontainer:hover {
		transition: 0.4s;
	}

	.intro-p {
		text-align: center;
		margin: 30px 0px;
	}

	.intro-container {
		margin-bottom: 60px;
	}

/**********************/
/* END: INTRO Section */
/**********************/




/***********************/
/* START: Work Section */
/***********************/

	.work-container button.accordion.active, .work-container button.accordion:hover {
		background-color: orange;
		color: black;
	}
	.work-container {
		width: 75%;
		border: 2px solid orange;
		margin: 0px auto 30px auto;
	}
	.work-p {
		margin: 30px 0px;
		text-align: center;
	}

/*********************/
/* END: Work Section */
/*********************/




/************************/
/* START: ABOUT Section */
/************************/

	.about-container button.accordion.active, .about-container button.accordion:hover {
		background-color: yellow;
		color: black;
	}
	.about-container {
		border: 2px solid yellow;
		width: 75%;
		margin: 60px auto 30px auto;
	}

/**********************/
/* END: ABOUT Section */
/**********************/


/***********************/
/* START: BLOG Section */
/***********************/

	.blog-container button.accordion.active, .blog-container button.accordion:hover {
		background-color: green;
		color: black;
	}
	.blog-container {
		border: 2px solid green;
		width: 75%;
		margin: 60px auto;
	}

/*********************/
/* END: BLOG Section */
/*********************/




/****************************/
/* START: INTERESTS Section */
/****************************/

	.interests-container button.accordion.active, .interests-container button.accordion:hover {
		background-color: blue;
		color: black;
	}
	.interests-container {
		border: 2px solid blue;
		width: 75%;
		margin: 60px auto;
	}

/**************************/
/* END: INTERESTS Section */
/**************************/




/**************************/
/* START: CONTACT Section */
/**************************/

	.contact-container button.accordion.active, .contact-container button.accordion:hover {
		background-color: purple;
		color: black;
	}
	.contact-container {
		border: 2px solid purple;
		width: 75%;
		margin: 60px auto;
	}

/************************/
/* END: CONTACT Section */
/************************/




/*************************/
/* START: FOOTER Section */
/*************************/
/*
	footer{
		height: auto;
		width: 100%;
		background-color: rgb(242, 242, 242);
		padding: 1px;
		text-align:center;
		border-radius: 8px;
		color:black;
	}

	footer ul li{
		display:inline;
		padding: 5px;
		margin: 5px;
	}
	footer ul li:hover{
		color: orange;
	}*/

/***********************/
/* END: FOOTER Section */
/***********************/