/************************************/
/* START: NAVHEADER and GENERAL CSS */
/************************************/

	html, body {
		width: 100%;
		margin: 0 auto;
		background-color: #F5F5DC;
		background: #000;
		color: white;
		padding-top: 10px;
		font-family: "Courier";
	}

	.header{
		width: 100%;
		height: 75px;
		border-radius: 8px;
		overflow: hidden;
		background-color; grey;
		position: fixed;
		top: 0;
	}
	.navheader-ul {
		text-align: right;
	}

	.navheader-li {
		display: inline-block;
		margin: 0 20px;
		right: 20px;
		position: relative;
	}

	.navheader-li a{
		text-decoration: none;
		color: white;
	}

	.navheader-li a:hover{
		color: orange;
	}

/**********************************/
/* END: NAVHEADER and GENERAL CSS */
/**********************************/




/***************************/
/* START: Typing Animation */
/***************************/

	.typing-anim-p{
		white-space: nowrap;
		overflow: hidden;
		width: 30em;
		animation: type 5s steps(50, end);
		margin: 0 auto;
		font-size: 40px;
	}

	.typing-anim-p-container{
		margin-bottom: 30px;
	}
	.typing-anim-container {
		width: 95%; 
		position: relative; 
		margin-top: 50px;
	}

	.cursor{
	  animation: blink 1.045s infinite;
	}

	@keyframes type{ 
	  from { width: 0; } 
	} 

	@keyframes type2{
	  0%{width: 0;}
	  50%{width: 0;}
	  100%{ width: 100; } 
	} 

	@keyframes blink{
	  to{opacity: .0;}
	}

	::selection{
	  background: white;
	}

/*************************/
/* END: Typing Animation */
/*************************/




/************************/
/* START: INTRO Section */
/************************/

	.intro-self {
		width: 75%;
		margin: 0 auto; 
		border: 2px solid #FFFFFF;
	}

	.intro-p {
		text-align: center;
	}

/**********************/
/* END: INTRO Section */
/**********************/




/***********************/
/* START: Work Section */
/***********************/

/*********************/
/* END: Work Section */
/*********************/




/************************/
/* START: ABOUT Section */
/************************/

/**********************/
/* END: ABOUT Section */
/**********************/




/*************************/
/* START: FOOTER Section */
/*************************/
/*
	footer{
		height: auto;
		width: 100%;
		background-color: rgb(242, 242, 242);
		padding: 1px;
		text-align:center;
		border-radius: 8px;
		color:black;
	}

	footer ul li{
		display:inline;
		padding: 5px;
		margin: 5px;
	}
	footer ul li:hover{
		color: orange;
	}*/

/***********************/
/* END: FOOTER Section */
/***********************/